.root {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */
    height: 100vh;
    color: white;
    align-items: center;
    padding: '20px'
}

.row{
    display: flex;
    flex-direction: row;
}

img{
    height: 100%;
    width: auto;

}

.pic{
    padding-top: 17px;
}

.button-wrapper{
    margin: 20px;
}

h5 {
    text-align: center;
}