.root {
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: center;
    height: auto;
    background-color: #23292b;
}

.row {
    display: flex;
    flex-direction: row;
}

h5 {
    width: 250px;
    text-align: left;
}

.underline {
    width: 100%;
    border-bottom: 1px solid black;
}


.pdf {
    width: 70%;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 30px;
}

.download {
    background-color: #34F4F9;
    width: 30%;
    margin: 20px; 
    border-radius: 10px;
}

button {
    background-color: #34F4F9;
}

p {
    text-align: justify;
}